@{
    ViewData["Title"] = "Login";
}

<div class="h-screen bg-slate-100 flex items-center justify-center py-10 px-5">
    <div class="w-96 max-w-full">
        <h1 class="font-mono text-2xl text-center mb-7"><span class="text-purple-500">ASP</span>ecom</h1>

        <div class="bg-white rounded-lg shadow p-7">
            <form action="">
                <input type="text" class="form-input w-full rounded-lg shadow-inner border-gray-300" placeholder="Email" />
                <input type="text" class="form-input w-full rounded-lg shadow-inner border-gray-300 mt-2" placeholder="Password" />
                <button type="submit" class="bg-purple-500 text-white px-3 py-2 rounded-lg w-full mt-2">Sign in</button>
            </form>
        </div>
    </div>
</div>

